


.header-user-auth {
    display: flex;

    p {
        padding-top: 2px;
    }
}

.signin-button {
    padding: 0; 
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    padding-right: 6px;
    cursor: pointer;
}

.register-button {
    padding: 0; 
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    padding-left: 6px;
    cursor: pointer;
}




