





.header-user-auth {
    display: flex;
    padding-right: 14px;
    font-size: 14px;
    
    p {
        padding-top: 7px;
        padding-left: 4px;
        padding-right: 4px;
        color: #333333;
    }
}


.signin-button {
    padding-top: 6px;
    margin: 0;
    border: none;
    background-color: transparent;
    padding-right: 6px;
    font-size: 14px;
    font-weight: 400;
    
    cursor: pointer;
    // for underline
    position: relative;
    color: #333333;
    text-decoration: none;
}

.signin-button:hover {
  color: #80807b;
}

.signin-button:focus {
    outline: none;
}

.signin-button:before {
    content: "";
    position: absolute;
    width: 85%;
    height: 0.5px;
    bottom: -3px;
    left: 6px;
    background-color: #80807b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
}

.signin-button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
}


.register-button {
    padding-top: 6px;
    margin: 0;
    border: none;
    background-color: transparent;
    padding-left: 6px;
    font-size: 14px;
    
    cursor: pointer;
    // for underline
    position: relative;
    color: #333333;
    text-decoration: none;
}


.register-button:focus {
    outline: none;
}

.register-button:hover {
  color: #80807b;
  cursor: pointer;
}


.register-button:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 5px;
    width: 85%;
    height: 1px;
    background-color: #80807b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%;
    -webkit-transform-origin: 100% 50%;
}

.register-button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
}



.logout {
  display: flex;
  flex-direction: row;
  // background-color: red;
  font-size: 14px;
  font-weight: 400;
  color: #333333;

  .first-text {
    padding: 0 10px;
    padding-top: 9px;
  }

  .register-button {
    padding-bottom: 2px;
  }
}




