
.modal-child-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 550px;
    height: 700px;
    background-color: #FFFEF2;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.modal-title-signup {
    font-size: 27px;
    padding: 40px 0px 20px;
    width: 100%;
    font-weight: 400;
    position: relative;
    line-height: 38px;
}

.signup-form {
    width: 450px;
    height: 450px;
    background-color: inherit;
    margin: 50px auto;
    font-family: 'Open Sans';
}

.signup-email {
    // transform: translateX(0);
    font-weight: bold;
}

.signup-email {
    // color: red;
    // transform: translateX(-20%);
    // transition: transform 0.5s ease-out;
}

.sign-kelly {
    // transform: translateX(0);
    color: red;
}