
.modal-child-signup {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 550px;
    height: 800px;
    background-color: #FFFEF2;
}

.signup-form {
    width: 450px;
    height: 450px;
    background-color: inherit;
    margin: 50px auto;
    font-family: 'Open Sans';
}

.signup-email {
    // transform: translateX(0);
    font-weight: bold;
}

.signup-email {
    // color: red;
    // transform: translateX(-20%);
    // transition: transform 0.5s ease-out;
}

.sign-kelly {
    // transform: translateX(0);
    color: red;
}