
.outsideModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  
}

.modal-child-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 650px;
    transform: translate(-50%, -50%);
    display: block;
    background-color: #FFFEF2;

    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.login-form {
    width: 450px;
    height: 450px;
    background-color: inherit;
    margin: 50px auto;
    font-family: 'Open Sans';
}

.modal-headingWrap {
    padding-bottom: 30px;
}

.modal-title {
    font-size: 27px;
    padding: 40px 0px 20px;
    width: 100%;
    font-weight: 400;
    position: relative;
}

.x-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 21px;
    color: black;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.x-button:focus {
    outline: none;
}


.modal-subtitle {
    font-size: 16px;
    color: #666666;
}


.formText {
    padding: 30px 10px 0px;
    margin: 0px 0px 30px;

    input {
        padding: 8px 0px;
        width: 414px;
        font-size: 20px;
        font-weight: 300;
        border: none;
        border-bottom: 1px solid #c9c1c1;
        background-color: #FFFEF2;
    }

    input:focus {
        outline: none;
    }
}

.formText-name {
    padding: 30px 10px 0px;
    margin: 0px 0px 30px;

    input {
        padding: 8px 0px;
        width: 200px;
        font-size: 20px;
        font-weight: 300;
        border: none;
        border-bottom: 1px solid #c9c1c1;
        background-color: #FFFEF2;
    }

    input:focus {
        outline: none;
    }
}

.name {
    display: flex;
}


.formText-submit {
    width: 414px;
    height: 60px;
    background-color: #999999;
    padding: 21px 23px;
    margin: 24px 0px 0px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}


.checkout-form {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    display: block;
    background-color: #FFFEF2;
    font-family: Assistant;
    font-size: 20px;

    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

    display: flex;
    flex-direction: column;
    text-align: center;


    h1 {
        font-weight: 500;
        line-height: 40px;
        padding-top: 30px;
    }

    p {
        font-size: 15px;
        line-height: 40px;
    }

    i {
        color: rgb(70, 69, 69);
        padding: 8px;
        padding-top: 14px;
    }

}
