

.main-splash {
    background: rgb(100,74,50);
    background: linear-gradient(98deg, rgba(100,74,50,1) 0%, rgba(122,97,75,1) 50%, rgba(147,131,116,1) 100%);
    z-index:200;
}
// .splash-1 {
//     background: image-url('main-image-aesop.jpg');
//     height: 1000px;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     -webkit-animation: fadein 2s;
//        -moz-animation: fadein 2s; /* Firefox < 16 */
//         -ms-animation: fadein 2s; /* Internet Explorer */
//          -o-animation: fadein 2s; /* Opera < 12.1 */
//             animation: fadein 2s;
// }

.main-products-second {


    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

// FIX THE LOADING PART // FADING TAKES TOO LONG

@keyframes fadein {
    from { opacity: 0.8; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.8; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.8; }
    to   { opacity: 1; }
}




.main-products {
    display: block;
    width: 100%;
    height: 800px;
    background-color: #FFFEF2 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.041);
    z-index: 200;
    
    p {
        font-family: Cardo;
        font-weight: 300;
        
        // font-family: Cardo;
        font-size: 24px;
        color: #323232;
        padding-bottom: 70px;
    }
}

.main-products-contain {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 127px;
    padding-left: 100px;
    padding-right: 100px; 
    height: 750px;
    background-color: #FFFEF2;

    .insde {
        font-size: 50px;
    }


}

.main-index-item {
    font-family: Open Sans;


    .text {
        width: 330px;
        height: 70px;
        display: block;
        // background-color: rgba(236, 203, 159, 0.87);
        margin: 0 auto;
    }
    h1 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        word-spacing: 0.1em;
        padding-bottom: 13px;
    }

    p {
        font-family: Open Sans;
        font-size: 13px;
        // color: #666666;
        font-weight: 400;
        padding-top: 0px;
        text-align: center;
        line-height: 20px;
    }

}

.main-skin-product-image {
    display: flex;
    flex-direction: row;

    // background: image-url('main-skin.jpg');
    // height: 700px;
    // width: 700px;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
}

.main-item-photo {
    width: 400px;
    height: 440px;
    position: relative;

    .photo-contain {
        height: 100%;
        width: 330px;
        overflow: hidden;
        // background-color: #32323273;
        // #323232
        display: block;
        margin: 0 auto;
        position: relative;
    }

    img {
        width: 380px;
        height: 380px;
        position: absolute;
        left: -10%;
        bottom: 0;
    }
}



.main-products-second {
    display: block;
    width: 100%;
    height: 650px;
    background-color: #FFFEF2 !important;
    
}

.main-products-contain-second {
    // padding-top: 50px;
    position: relative;
    
    img {
        width: 100%;
        height: 80vh;
    }

    h2 {
        line-height: 100px;
        position: absolute;
        bottom: 100px;
        left: 20px;
        white-space: nowrap;
        overflow: hidden;
        width: 30rem;
        animation: type 6s steps(140, end); 
        font-size: 60px;
        font-family: Sacramento;
        font-weight: 400;
        color: rgb(226, 223, 223);
    }

}

@keyframes type{ 
  from { width: 0; } 
} 


.main-products-third {
    display: flex;
    width: 100%;
    height: 700px;
    background-color: #FFFEF2  !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.041);
    flex-direction: row;
    margin-top: 100px;
    padding-bottom: 100px;

    .second-text {
        flex-grow: 1;

        .second-text-contain {
            height: 50%;
            // background: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;

            .contain-again {
                // width: 400px;
                // background: yellow;

                p {
                    line-height: 40px;
                    font-family: Open Sans;
                    font-size: 14px;
                }

                div {
                    width: 170px;
                    height: 50px;
                    // background: blue;
                    display: flex;
                    justify-content: center;
                    border: 1px solid rgb(192, 192, 187);
                    font-weight: 400;

                    :hover {
                        cursor: pointer;
                    }

                    p {
                        align-self: center;
                    }
                }

                p:nth-of-type(2n) {
                    font-size: 30px;
                    font-family: Cormorant Garamond;
                    line-height: 70px;
                }

                .contain-first {
                    font-weight: bold;
                }
                .contain-third {
                    line-height: 30px;
                    margin-bottom: 15px;
                    color: #333333;
                }
                
            }

        }

    }
    
}

.main-products-contain-third {
    // flex-grow: 6.5;
    // background:blue;
    width: 68%;
    display: flex;
    flex-direction: column;

    .main-products-image-third {
        // background: purple;
        width: 100%;
        height: 89%;

        .image {
            width: 100%;
            height: 100%;
            // background: pink;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .main-third-text {
        flex-grow: 1;
        border-bottom: 1px solid rgb(192, 192, 187);
        
        p {
            display: inline-block;
            padding: 30px;
            font-family: Open Sans;
            font-size: 15px;
            color: #7A7A78;
        }
    }
    
}



.quote {
    display: block;
    position: relative;
    width: 100%;
    height: 446px;
    background-color: #FFFEF2 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.041);
    z-index: 200;
    
    .quote-contain {
        position: absolute;
        top: 30%;
        left: 35%;
        width: 400px;
        height: 100px;
    }

    p {
        font-family: Sacramento;
        font-size: 33px;
        color: #323232;
        padding: 10px;
        text-align: center;
        line-height: 40px;
    }
}

.footer-actual {
    width: 100%;
    height: 70px;
    background-color: #252525;
    // background: red;
}

.footer {
    display: block;
    position: relative;
    height: 440px;
    background-color: #FFFEF2 !important;

}


.footer-bottom {
    // position: absolute;
    // width: 100%;
    // bottom: 0px;
    // height: 70px;
    // background-color: #252525;
}



.picture {
    display: block;
    width: 500px;
    height: 500px;
    background-color: red;
}


.link-product {
    text-decoration: none;
}



.slide-container {
    overflow: auto;
    white-space: nowrap;
    background:#FFFEF2;
    height: 570px;
    // background: red;
    
}



.footer  {
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-family: Open Sans;
    font-size: 14px;
    
    .email {
        // background-color: red;
        display: flex;
        flex-direction: column;
        width: 50%;
        

        p {
            width: 80%;
            padding-top: 15px;
            padding-bottom: 26px;
            // background-color: blue;
            line-height: 26px;
            margin: 0 auto;
            color: #666666;
        }

        .em-input {
            width: 80%;
            background-color: pink;
            margin: 0 auto;
            height: 50px;


            label {
                height: 100%;
            }
            
            input {
                height: 47px;
                background-color: #FFFEF2;
                width: 100%;
                border: none;
                border-bottom: #c9c8c8;

                :focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }
        }

    }

    .contact {
        flex-grow: 3.33;
        display: flex;
        flex-direction: column;

        li {
            list-style-type: none;
            padding: 9px 0px; 

            a {
                 text-decoration: none;
                 color: black;
                 font-size: 13px;
            }
        }

        p {
            padding: 20px 0px; 
            padding-bottom: 26px;
            color: #666666;
        }

    }
    
    .about {
        flex-grow: 3.33;
        display: flex;
        flex-direction: column;

            li {
                list-style-type: none;
                padding: 9px 0px; 
    
                a {
                        text-decoration: none;
                        color: black;
                        
                        
                }
            }

            p {
                padding: 20px 0px; 
                padding-bottom: 26px;
                color: #666666;
            }

            
        }
            
    .social {
        flex-grow: 3.33;
        display: flex;
        flex-direction: column;

        li {
            list-style-type: none;
            padding: 9px 0px; 

            a {
                    text-decoration: none;
                    color: black;
                    
            }
        }

        p {
            padding: 20px 0px; 
            padding-bottom: 26px;
            color: #666666;
        }
    }
}