

.main-splash {
    background: rgb(100,74,50);
    background: linear-gradient(98deg, rgba(100,74,50,1) 0%, rgba(122,97,75,1) 50%, rgba(147,131,116,1) 100%);
    z-index:200;
}
// .splash-1 {
//     background: image-url('main-image-aesop.jpg');
//     height: 1000px;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     -webkit-animation: fadein 2s;
//        -moz-animation: fadein 2s; /* Firefox < 16 */
//         -ms-animation: fadein 2s; /* Internet Explorer */
//          -o-animation: fadein 2s; /* Opera < 12.1 */
//             animation: fadein 2s;
// }

.main-products-second {
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

// FIX THE LOADING PART // FADING TAKES TOO LONG

@keyframes fadein {
    from { opacity: 0.8; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.8; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.8; }
    to   { opacity: 1; }
}




.main-products {
    display: block;
    width: 100%;
    height: 800px;
    background-color: #FFFEF2 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.041);
    z-index: 200;
    
    p {
        font-family: Cardo;
        font-size: 27px;
        color: #323232;
        padding-bottom: 70px;
    }
}

.main-products-contain {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px; 
    height: 750px;
    background-color: #FFFEF2;

}

.main-index-item {
    font-family: Open Sans;


    .text {
        width: 330px;
        height: 70px;
        display: block;
        // background-color: rgba(236, 203, 159, 0.87);
        margin: 0 auto;
    }
    h1 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        word-spacing: 0.1em;
        padding-bottom: 13px;
    }

    p {
        font-family: Open Sans;
        font-size: 13px;
        // color: #666666;
        font-weight: 400;
        padding-top: 0px;
        text-align: center;
        line-height: 20px;
    }

}

.main-skin-product-image {
    display: flex;
    flex-direction: row;

    // background: image-url('main-skin.jpg');
    // height: 700px;
    // width: 700px;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
}

.main-item-photo {
    width: 400px;
    height: 440px;
    position: relative;

    .photo-contain {
        height: 100%;
        width: 330px;
        overflow: hidden;
        // background-color: #32323273;
        // #323232
        display: block;
        margin: 0 auto;
        position: relative;
    }

    img {
        width: 380px;
        height: 380px;
        position: absolute;
        left: -10%;
        bottom: 0;
    }
}



.main-products-second {
    display: block;
    width: 100%;
    height: 800px;
    background-color: #FFFEF2 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.041);
    
}

.main-products-contain-second {
    padding-top: 50px;
    
    img {
        width: 100%;
        height: 650px;
    }
}


.quote {
    display: block;
    position: relative;
    width: 100%;
    height: 446px;
    background-color: #FFFEF2 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.041);
    z-index: 200;
    
    .quote-contain {
        position: absolute;
        top: 30%;
        left: 35%;
        width: 400px;
        height: 100px;
    }

    p {
        font-family: Cardo;
        font-size: 30px;
        color: #323232;
        padding: 10px;
        text-align: center;
        line-height: 40px;
    }
}

.footer {
    display: block;
    position: relative;
    width: 100%;
    height: 446px;
    background-color: #FFFEF2 !important;

    .footer-bottom {
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 70px;
        background-color: #252525;
    }

}



.picture {
    display: block;
    width: 500px;
    height: 500px;
    background-color: red;
}


.link-product {
    text-decoration: none;
}



// .product-item-photo {
//     width: 300px;
//     height: 440px;
//     position: relative;

    
//     .photo-contain-first {
//         height: 100%;
//         width: 300px;
//         overflow: hidden;
//         background-color: #32323273;
//         // #323232
//         display: block;
//         margin: none;
//         position: relative;


//         .sub {
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             align-items: center;
//             padding-top: 50%;

//             p {
//                 padding-bottom: 30px;
//                 text-align: left;
//                 width: 80%;
//                 color: #ffffff;
//             }

//             :first-child {
//                 font-size: 26px;
//             }
//         }
//     }

// }



.slide-container {
    overflow: auto;
    white-space: nowrap;
}




