
.cart {
    background: rgb(35, 35, 35);
    color: rgb(176, 174, 174);
    font-family: Assistant;
    padding: 29px 40px;
    animation: cart 1s ease-in; 

    .cart-labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // background: red;
        height: 40px;
        padding-top: 5px;
        font-size: 15px;
        letter-spacing: 1.2px;
        font-family: Assistant;
        color: rgb(210, 204, 204);
        font-weight: 300;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);


        p {
            flex-grow: 0.44;
            // border: 1px solid white;
            height: 15px;
        }

        .cart-label-last {
            flex-grow: 0.56;
            height: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .x-cart {
                font-size: 15px;
                cursor: pointer;
            }
        }

        .cart-label-first {
            min-width: 320px;
            width: 40%;
            // border: 1px solid white;
            height: 15px;
        }
    }

    .cart-item {
        display: flex;
        flex-direction: row;
        background: rgb(35, 35, 35);
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);

        .single-item {
            min-width: 320px;
            width: 39.5%;
            // height: 15px;

            a {
                color: white;
                letter-spacing: 1.5px;
                font-weight: 300;
                font-size: 15px;
                text-decoration: none;
                cursor: pointer;
            }
        }

        p {
            flex-grow: 1;
            font-size: 15px;
            letter-spacing: 1px;
        }

        .cart-item-last {
            flex-grow: 1;
            // height: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .update {
            display: flex;
            flex-direction: row;
            align-items: center;

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none; 
                padding: 10px 20px;
                border-radius: 0px;
                background: inherit;
                border: 1px solid rgba(128, 128, 128, 0.5);
                color: white;
                cursor: pointer;
                font-size: 13px;
                font-weight: 300;
            }

            select:hover {
                border: 1px solid rgba(255, 255, 255, 0.801);
            }

            select:focus {
                outline: none;
            }

            button {
                font-family: Assistant;
                font-size: 14px;
                letter-spacing: 1px;
                background: inherit;
                color: rgb(174, 174, 174);
                border: none;
                margin-left: 8px;
                cursor: pointer;
            }

            button:hover {
                color: rgb(216, 213, 213);
            }
        }
    }

    .cart-bottom {
        display: flex;
        flex-direction: row;
        
        .bottom-first {
            flex: 1;
            height: 148px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 52px;

            div {
                line-height: 35px;
                letter-spacing: 1px;
                font-weight: 300;
                font-size: 15px;
            }
        }

        .bottom-second {
            width: 34%;
            display: flex;
            flex-direction: column;
            
            div {
                padding: 13px 0px;
            }

            .sub-total {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .text-sub {
                    font-size: 16px;
                    letter-spacing: 1.2px;
                }
            }

            .checkout {
                padding: 20px;
                font-size: 15px;
                letter-spacing: 1px;
                font-family: Assistant;
                cursor: pointer;
            }

            .total-price {
                font-size: 28px;
                font-weight: 300;
                letter-spacing: 0.3px;
                color: rgb(233, 229, 229);
            }

        }
    }
}


@keyframes cart {
    from { opacity: 0.9; }
    to   { opacity: 1; }
    // 0%{
    //     transform: translateY(-50px);
    // }
    // 100% {
    //     transform: translateX(0px);
    // }
}


.for-item-added {
    position: relative;
}

.quantity-added-to-cart {
    position: absolute;
    display: none;
    right: 0%;
    top: -3%;
    border: 1px solid gray;
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 9px 14px;
    line-height: 30px;
    height: 35px;
    font-size: 13px;
    width: 160px;
    text-align: center;
    border-radius: 3px;
    letter-spacing: 1px;
}

.empty-cart {
    padding: 35px 0px;
    padding-bottom: 17px;
    letter-spacing: 1px;
    font-size: 15px;
    color: rgb(215, 214, 214);
}