

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // free space distributed between elements from top to bottom since we specified "space-between"
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 30px;
    height: 1px;
    background: rgb(99, 99, 84);
}

// side-drawer styling


.side-drawer {
    height: 100%;
    background: #907D6C;
    box-shadow: 1px 0px 10px rgba(0,0,0,0.5);
    // (1) to the right (2) bottom (3) blur 
    position: fixed;
    // don't want to scroll wiith the page, should always be there / overlap the page
    top: 0;
    left: 0;
    width: 70%;
    max-width: 33%;
    z-index: 500;
    // above the backdrop
    transform: translateX(-110%);
    //  -- move it to left by its full width
    transition: transform 0.5s ease-out;
    // animation -- specify with properties you want to animate

    ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link {
        margin: 0.5rem 2.5rem;
        color: #2e2d2d;
        // color: black;
        text-decoration: none;
        font-size: 1.65rem;
        font-weight: 400;
        // underline
        position: relative;
        text-decoration: none;
    }

    .link:focus {
        outline: none;
    }

    .link:hover {
        color: #644a32;
    }


    .link:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0px;
        width: 30%;
        height: 1px;
        background-color: #644a32;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: transform 500ms ease-in-out;
        transition: transform 500ms ease-in-out;
        transform-origin:100% 50%;
        -webkit-transform-origin: 100% 50%;
    }

    .link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    }

}

.side-drawer.open {
    transform: translateX(0);
    // move it left/right from original position - 0 - normal default position
}


// backdrop styling for sidebar

.backdrop {
    position: fixed;
    // can't scroll it away
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: rgba(218, 5, 5, 0.913);
    // background: rgba(0,0,0,0.3);
    z-index: 100;
}

.backdrop-next {
    position: fixed;
    // can't scroll it away
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    background: rgba(11, 25, 223, 0.919);
    z-index: 100;
}


////////////////////////////////////


.next-side-drawer {
    height: 100%;
    background: #907D6C;
    // box-shadow: 1px 0px 10px rgba(0,0,0,0.5);
    // (1) to the right (2) bottom (3) blur 
    position: fixed;
    // don't want to scroll wiith the page, should always be there / overlap the page
    top: 0;
    left: 0;
    width: 70%;
    max-width: 33%;
    z-index: 500;
    // above the backdrop
    transform: translateX(-110%);
    //  -- move it to left by its full width
    transition: transform 0.5s ease-out;
    // animation -- specify with properties you want to animate

    ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link {
        margin: 0.5rem 2.5rem;
        color: #2e2d2d;
        // color: black;
        text-decoration: none;
        font-size: 1.65rem;
        font-weight: 400;
        // underline
        position: relative;
        text-decoration: none;
    }

    .link:focus {
        outline: none;
    }

    .link:hover {
        color: #644a32;
    }


    .link:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0px;
        width: 30%;
        height: 1px;
        background-color: #644a32;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: transform 500ms ease-in-out;
        transition: transform 500ms ease-in-out;
        transform-origin:100% 50%;
        -webkit-transform-origin: 100% 50%;
    }

    .link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    }

}

.next-side-drawer.open {
    transform: translateX(100%);
    // move it left/right from original position - 0 - normal default position
}



.fa {
  padding-right: 10px;
}

.navbar {
  background-color: #f2f2f2;
  width: 700px;
  height: 53px;
  cursor: pointer;
}

.logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 50px;
  color: #7a7a7a;
  float: left;
  margin-left: 20px;
}



//////////////////////////////


.first-drawer {
  display: block;
  background: #907D6C;
  width: 33.33%;
  height: 100%;
  z-index: 3000;
  position: absolute;
  left: 0px;
}

.second-drawer {
  display: block;
  background: #907D6C;
  width: 33.33%;
  height: 100%;
  z-index: 4000;
  position: absolute;
  left: 600px;
}

.third-drawer {
  display: block;
  background: #907D6C;
  width: 33.33%;
  height: 100%;
  z-index: 5000;
  position: absolute;
  left: 1200px;
}

