












.toolbar {
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    // background: rgb(126, 102, 85);
    // // #907D6C
    // background: rgb(100,74,50);
    // background: linear-gradient(98deg, rgba(100,74,50,1) 0%, rgba(122,97,75,1) 50%, rgba(147,131,116,1) 100%);
    background-color: #FFFEF2;
    height: 76px;
    font-family: 'Open Sans';
    border-top: 4px solid black;
}


.toolbar-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
    font-size: 14px;
}

.toolbar-logo {
    margin-left: 1rem;
    background-image: url(aesop_logo.jpg);
}

.toolbar-logo a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
    // This will take all available space between the space occupied
}


.toolbar-navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar-navigation-items li {
    padding: 0 0.7rem;
}


.toolbar-navigation-items a {
    color: black;
    text-decoration: none;
    position: relative;
}

.toolbar-navigation-items a:hover {
  color: inherit;
}

.toolbar-navigation-items a:focus {
    outline: none;
}

.toolbar-navigation-items a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transform-origin:100% 50%;
    -webkit-transform-origin: 100% 50%;
}

.toolbar-navigation-items a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
}

.header-user {
    display: flex;
}

.toolbar-logo {
    position: absolute;
    top: 100px;
    left: 40px;
}


